.container{
  height: 100vh;
  background-image: 
  radial-gradient( #d10506 1px, transparent 1px),
  radial-gradient(#333333 1px, transparent 1px);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
.main{
  padding: 1rem;
  background-color: var(--white-color);
  height: 100vh;
  width: 100vw;
  box-shadow: #33333344 0px 0px 10px;
  position: relative;
}
@media (min-width: 500px){
  .main{
    height: 95vh;
    width: 450px;
  }
}