:root{
  --primary-color: #d10506;
  --primary-color-opacity: #d1050633;
  --white-color: #fff;
  --black-color: #333333;
  --black-color-opacity: #33333333;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1{
  color: var(--primary-color);
}
